.users, .reviews {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .users li, .reviews li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #5c82ff;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    width:1200px;
    height:90px;
  }

  .reviews li{
    background-color: #26a742;
  }

  .users li:hover, .reviews li:hover {
    color: #000000;
    background-color: #DDD;
    left: .1em;
  }

  .users .badge, .reviews .badge {
    display: inline-block;
    font-size: large;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#cc0a0a;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 80px;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    width:170px;
  }

  .reviews .badge{
  background-color: #000000;
  }

  .editBadge{
    font-size: large;
    color: white;
    float: right;
    padding-right: 15px;
  }

  #editButton, #editButton2, #policyButton, #logButton{
    background-color: #f79220;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #editButton2{
    background-color: #ff0000;
  }

  #policyButton{
    background-color: #06695a;
  }

  #logButton{
    background-color: #1e79c9;
  }