 <h1>OUR POLICIES</h1>

<!-- <ul *ngIf="dmca">
    <li *ngFor="let policy of dmca">
        <h2>Security & Privacy:</h2>
        <p>{{policy.policyOne}}</p>
        <br>
        <p>DMCA Notice & Take down</p>
        <p>{{policy.policyTwo}}</p>
        <br>
        
    </li>
</ul> -->

<div *ngIf="dmca">
    <div *ngFor="let policy of dmca">
        <h2>Security & Privacy:</h2>
        <p>{{policy.policyOne}}</p>

        <h2>DMCA Notice</h2>
        <p>{{policy.policyTwo}}</p>

        <h2>Takedown Notice</h2>
        <p>{{policy.policyThree}}</p>
    </div>
</div>

<h2>Contact for Notices of Infringement</h2>
<p>
Contact msood@uwo.ca for any notices of infringement provided.
</p>