<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password</title>
</head>
<body>
  <div class="change-password-form">
    <h1>Change Password</h1>

    <form #changePasswordForm="ngForm" (submit)="submitPasswordForm(changePasswordForm)">
      <input type="password" name="password" id="password" placeholder="Enter New Password" required ngModel><br><br>
      
      <input type="password" name="password2" id="password2" placeholder="Confirm New Password" required ngModel><br><br>


      <button class="changePasswordButton" >Update Password</button>
      <hr>
    </form>

  </div>
 
</body>
</html>