<div *ngIf="admin==false">
  <h1>You are not an Administrator! You do not have access to this route.</h1>
  </div>
  
<div *ngIf="admin==true">
  <div id="editReviewForm">
    <h2 id="editTitle">Edit Review Visibility</h2><br>
    <h4>If a review is selected to be hidden or infringing, it will be hidden from the public. Only courses where both the "hidden" property and "infringing" property is set to false will be visible for the public to view.</h4>
    <form [formGroup]="reviewForm" (ngSubmit)="submitEditedReviewVisibility()">

        <div class="form-group">
            <label for="hidden">Hide Review:</label>
            <div>
              <input id="true" type="radio" value="true" name="hidden" formControlName="hidden">
              <label for="true">True</label>
           </div>
           
           <div>
              <input id="false" type="radio" value="false" name="hidden" formControlName="hidden">
              <label for="false">False</label>
           </div>

            <br><br>

            <label for="infringing">Infringing Material in this Review:</label>
            <div>
              <input id="true_i" type="radio" value="true" name="infringing" formControlName="infringing">
              <label for="true_i">True</label>
           </div>
           
           <div>
              <input id="false_i" type="radio" value="false" name="infringing" formControlName="infringing">
              <label for="false_i">False</label>
           </div>

           <br><br>

        </div>

      <button type="submit" id="submitEditedReviewVisibility">Submit Updated Review Visibility</button><br><br>
    </form>
  </div>
</div>
