<h2>Public Schedules</h2>
<h4>Click on the schedule to view more details!</h4>
<ul class="schedules">
  <li *ngFor="let schedule of schedules_fixed.slice(0, 10);" [class.selected]="schedules === selectedPublicSchedule"
  (click)="onSelect(schedule)">
      <a routerLink="/schedule-detail/{{schedule.scheduleName}}">
        <span class="badge">{{schedule.scheduleName}} - {{schedule.subject_schedule.length}} Course(s)</span> 
      </a>
      Date Modified: {{schedule.updatedAt}} , 
      Created By: {{schedule.createdBy}}
</li>
<br><br>
</ul>


  <div *ngIf="selectedPublicSchedule" id="selectedPublicSchedule">

    <h2>Schecule '{{selectedPublicSchedule.scheduleName}}'' Details</h2>
    <div>
     <p><b>Description: </b>{{selectedPublicSchedule.scheduleDescription}}</p> 
      <p><b>Courses:</b> {{selectedPublicSchedule.subject_schedule}}</p>  
    </div>

    <div *ngFor="let course of courses; index as i">
      <table *ngIf="indexArray.indexOf(i)> -1">
        <thead >
            <tr >
                <th>Section</th>
                <th>Component</th>
                <th>Class Number</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Location</th>
                <th>Requisites and Constraints</th>
                <th>Status</th>
                <th>Campus</th>
            </tr>
        </thead>
        <tbody >
            <tr >
                <td>{{course.course_info[0].class_section}}</td>
                <td>{{course.course_info[0].ssr_component}}</td>
                <td>{{course.course_info[0].class_nbr}}</td>
                <td>{{course.course_info[0].start_time}}</td>
                <td>{{course.course_info[0].end_time}}</td>
                <td>{{course.course_info[0].facility_ID}}</td>
                <td>{{course.course_info[0].descr}}</td>
                <td>{{course.course_info[0].enrl_stat}}</td>
                <td>{{course.course_info[0].campus}}</td>
            </tr>
        </tbody>
    </table>
    </div>
  
  </div>





