h2{
    text-decoration: underline;
  }
  
  #addReviewForm{
    background-color: #f2f2f2;
    width: 50%;
    margin-bottom: 50px;
  }
  
  #addTitle{
    text-align: center;
  }
  
  label{
    padding-left: 10px;
  }

  input[type=text], input[type=number] {
    width: 65%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  #textarea{
    margin-left: 95px;
  }

  #reviewTitleInput{
      margin-left: 50px;
  }

  #reviewSubjectInput{
    margin-left: 85px;
  }

  #reviewCourseNumberInput{
    margin-left: 30px;
  }

  #ratingNumberInput{
    margin-left: 40px;
  }

  button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 180px;
  }
  