.editBadge{
    font-size: large;
    color: white;
    float: right;
    padding-right: 15px;
  }

  #editButton{
    background-color: #f79220;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .delete{
    background-color:#c92222;
    color: white;
  }

  #deleteButtonDiv{
    float: right;
  }

#deleteAll{
    background-color: red;
    font-size: larger;
    font-weight: bolder;
}

h2{
  text-decoration: underline;
}

#editScheduleForm{
  background-color: #f2f2f2;
  width: 50%;
  margin-bottom: 50px;
}

#editTitle{
  text-align: center;
}

label{
  padding-left: 10px;
}

input[type=text] {
  width: 65%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#scheduleNameInput{
  margin-left: 15px;
}

.subjectInputs{
  margin-left: 55px;
}

.courseNumberInputs{
  margin-left: 20px;
}

#submitEditedSchedule, #addAnotherCourse{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addAnotherCourse{
  background-color: rgb(123, 212, 241);
}

#deleteCourseButton{
  background-color: #c92222;
  color: white;
  border: 1px solid black;
  border-radius: 15%;
  width: 40px;
  height: 25px;
  font-size: larger;
  margin-left: 900px;
}

#textarea{
  margin-left: 15px;
}

.radioVisibility {
  width: 15px;
  margin-left: 170px;
 }
 
 .radioVisibilityL {
   display: inline;
 }
 