<h1 id="mainTitle">Western University Timetable Application</h1>
<div id="aboutDiv">
    <h2 id="welcome">Welcome {{name}} ({{username}})</h2>
    <h2>About the App:</h2>
    
    <p>Welcome to Western University's 2020 Timetable Application. Here you have to the ability to search for any course Western offers using the search boxes below. You have the ability to create up to 20 schedules that contains a list of your courses. You can also edit these lists, delete them and make them public/private. You also have the ability to add a review for a course. </p>
    <button id="publicSchedules" (click)="viewPublicSchedules()">View Public Schedules</button>
    <button (click)="onLogout()" id="logOutButton">Log Out</button>
   
</div>



           
               
        