<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LogIn Form</title>
</head>
<body>
  <div class="login-form">
    <h1>Log In</h1>

    <form #loginForm="ngForm" (submit)="submitLoginForm(loginForm)">
      <input type="text" name="email" id="email" placeholder="Enter Email" required ngModel><br><br>
      <input type="password" name="password" id="password" placeholder="Enter Password" required ngModel><br><br>
      <button class="loginButton" >LogIn</button>
      <hr>
      <p>OR</p>
      <button>Log in With Google</button>
      <p>Don't have an Account? <a routerLink="/register">Create Account</a></p>
    </form>

  </div>
</body>
</html>