#mainTitle{
    text-align: center;
    text-decoration: underline;
    color: blueviolet;
}

#aboutDiv{
    border: 1.5px solid black;
    background-color: #D1ECF1;
    padding: 10px;
}

#buttonDiv{
    margin: 0 auto;
}

#registerButton, #loginButton, #publicSchedules{
 
  background-color: #4CAF50; 
  color: white;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
}

table{
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #000000;
    background-color: transparent;
    border-collapse: collapse;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    background-color: #d9d9d9;
    border: 2px solid #474747;
    font-size: 13px;
    vertical-align: bottom;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border: 1px solid black;
}

td {
    background-color: #dbdbdb;
    padding: 8px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.courses table:hover {
    color: #0da2ec;
    background-color: rgb(199, 0, 0);
    left: .1em;
  }
  .courses table.selected {
    background-color: #000000;
    color: rgb(170, 0, 0);
  }
  .coursess table.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }

  .selectedDiv{
      background-color: #9058eb;
      padding-left: 10px;
      margin: 10px;
  }

  #selectedHeading{
      text-decoration: underline;
      color: #f7fa64;
  }

  #searchDiv{
      margin: 0 auto;
      text-align: center;
  }

  label{
      font-size: 20px;
      font-weight: 600;
  }

  #componentLabel{
      margin-right: 140px;
  }

  #subHeading{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      text-decoration: underline;
  }

  #subjectSearch{
      margin-left: 180px;
  }

  #keywordSearch{
      margin-left: 175px;
  }

  #courseNumberSearch{
      margin-left: 110px;
  }

  #courseComponent{
      margin-left: 10px;
  }