table{
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #000000;
    background-color: transparent;
    border-collapse: collapse;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    background-color: #d9d9d9;
    border: 2px solid #474747;
    font-size: 13px;
    vertical-align: bottom;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border: 1px solid black;
}

td {
    background-color: #dbdbdb;
    padding: 8px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

.courses table:hover {
    color: #0da2ec;
    background-color: rgb(199, 0, 0);
    left: .1em;
  }
  .courses table.selected {
    background-color: #000000;
    color: rgb(170, 0, 0);
  }
  .coursess table.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }

  .selectedDiv{
      background-color: #9058eb;
      padding-left: 10px;
      margin: 10px;
  }

  #selectedHeading{
      text-decoration: underline;
      color: #f7fa64;
  }