<h1 id="mainTitle">Western University Timetable Application</h1>
<div id="aboutDiv">
    <h2>About the App:</h2>
    
    <p>Welcome to Western University's 2020 Timetable Application. Here you have to the ability to search for any course Western offers using the search boxes below. You can also register an account if you are a new user or login if you have an existing account. Users with an account have the ability to create up to 20 schedules that contains a list of their courses. They can edit these lists, delete them and make them public/private.They also have the ability to add a review for a course. </p>
  
    <button (click)="btnClick()" id="registerButton">Register a New Account</button>
    <button id="loginButton" (click)="btnClick2()">Log In</button>
</div>

<div id="searchDiv">
    <h2 id="subHeading">Search Courses</h2>
    <label for="subjectSearch">Search by Subject:</label>
    <input type="text" id="subjectSearch" [(ngModel)]="subject" placeholder="Search By Subject" name="subjectSearch"><br><br>
    <label for="courseNumberSearch">Search by Course Number:</label>
    <input type="text" id="courseNumberSearch" [(ngModel)]="courseNumber" placeholder="Search By CourseNumber" name="courseNumberSearch"><br><br>
    <label for="keywordSearch">Search by Keyword:</label>
    <input type="text" id="keywordSearch"  placeholder="Search By Keyword" name="keywordSearch" [(ngModel)]="keyword"><br><br>
    <label for="courseComponent" id="componentLabel">Search by Course Component:</label>
    <select placeholder="Select Component" name="courseComponent" id="courseComponent" [(ngModel)]="courseComponent">
        <option value="ALL">ALL</option>
        <option value="LEC">Lecture</option>
        <option value="TUT">Tutorial</option>
        <option value="LAB">Laborotory</option>
    </select>
   
</div>
<hr>

<div *ngIf="selectedCourse" class="selectedDiv">
    <h2 id="selectedHeading">{{selectedCourse.subject}} {{selectedCourse.catalog_nbr}} - {{selectedCourse.className}}</h2>
    <p><b>Description:</b>{{selectedCourse.catalog_description}}</p>
</div>


<div *ngFor="let course of courses | subjectFilter:subject | courseNumberFilter:courseNumber | courseComponentFilter: courseComponent | keywordFilter:{catalog_nbr:keyword, className:keyword}"  (click)="onSelect(course)" class="courses" [ngStyle]="{'color':colorComponent(course.course_info[0].ssr_component)}">
    <h3>{{course.subject}} {{course.catalog_nbr}} - {{course.className}}</h3>
    <p><b>Description:</b>{{course.catalog_description}}</p>

    <table [class.selected]="course === selectedCourse" id="coursesTable" >
        <thead >
            <tr >
                <th>Section</th>
                <th>Component</th>
                <th>Class Number</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Location</th>
                <th>Requisites and Constraints</th>
                <th>Status</th>
                <th>Campus</th>
            </tr>
        </thead>
        <tbody >
            <tr >
                <td>{{course.course_info[0].class_section}}</td>
                <td>{{course.course_info[0].ssr_component}}</td>
                <td>{{course.course_info[0].class_nbr}}</td>
                <td>{{course.course_info[0].start_time}}</td>
                <td>{{course.course_info[0].end_time}}</td>
                <td>{{course.course_info[0].facility_ID}}</td>
                <td>{{course.course_info[0].descr}}</td>
                <td>{{course.course_info[0].enrl_stat}}</td>
                <td>{{course.course_info[0].campus}}</td>
            </tr>
        </tbody>
    </table>
</div>

