<h2>My Schedules</h2>
<ul class="schedules">
  <li *ngFor="let schedule of schedules_fixed">
      <a routerLink="/schedule-detail/{{schedule.scheduleName}}">
        <span class="badge">{{schedule.scheduleName}} - {{schedule.subject_schedule.length}} Course(s)</span> 
      </a>
    {{schedule.subject_schedule}}
    {{schedule.scheduleDescription}}
    <div id="deleteButtonDiv">
      <span *ngIf="confirmDelete">
        <span>Are you sure you want to Delete this schedule?</span>
        <button (click)="deleteSchedule(schedule.scheduleName)">Yes</button>
        <button (click)="confirmDelete=false">No</button>
      </span>
      <button *ngIf="!confirmDelete" class="delete" title="Delete Schedule"
      (click)="confirmDelete=true">x</button>
    </div>
    <span class="editBadge"><button id="editButton" (click)="editButtonClick(schedule.scheduleName)">Edit Schedule</button></span> 
  </li>
  <br><br>
  <button id="deleteAll" (click)="deleteAll()">Delete All Schedules</button>

</ul>

